# Preparing and cleaning the dataset for further analysation

In [1]:
# import
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# read dataset
df = pd.read_csv("data/LendingClub_2007.csv")
df.head()

C:\Users\argv0\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

The warning "DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False." indicated that the DataFrame contains empty rows, which will be dropped.

In [2]:
df[df['addr_state'].isnull()]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
39786,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42536,Total amount funded in policy code 1: 471701350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42537,Total amount funded in policy code 2: 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.drop([39786,42536,42537], inplace=True)

To identify the description of the DataFrame columns, we use a data dictonary from the LoanStats.csv file. This file original contains 153 entries and will be reduce to 52 entries.

In [4]:
# read data dict for column description
columns_df = pd.read_csv("data/LoanStats.csv", delimiter=";")
columns_df.head()

            LoanStatNew                                       Description
0        acc_now_delinq  The number of accounts on which the borrower i...
1  acc_open_past_24mths        Number of trades opened in past 24 months.
2            addr_state  The state provided by the borrower in the loan...
3              all_util             Balance to credit limit on all trades
4            annual_inc  The self-reported annual income provided by th...

We create some columns in the data dictonary to document the feature properties and our modifications.
Also we flag the required entries to drop the others.

In [5]:
for idx, entry in enumerate(columns_df.LoanStatNew):
    if entry in df.columns:
        columns_df.loc[idx, 'contain'] = True
        columns_df.loc[idx, 'Amount_NaN'] = df[entry].isna().sum()
        columns_df.loc[idx, 'Unique_entries'] = df.id.nunique()
        columns_df.loc[idx, 'orig. Dtype'] = df[entry].dtype
        
print(f'{columns_df.query("contain != True").count()[0]} entries can we dropped')
columns_df.head()

100 entries can we dropped

,LoanStatNew,Description,contain,Amount_NaN,Unique_entries,orig. Dtype
0,acc_now_delinq,The number of accounts on which the borrower i...,True,29.0,42535.0,float64
1,acc_open_past_24mths,Number of trades opened in past 24 months.,NaN,NaN,NaN,NaN
2,addr_state,The state provided by the borrower in the loan...,True,0.0,42535.0,object
3,all_util,Balance to credit limit on all trades,NaN,NaN,NaN,NaN
4,annual_inc,The self-reported annual income provided by th...,True,4.0,42535.0,float64

## Cleaning the DataFrame

Adding a column for "Does not meet the credit policy." and changing the 

loan_status from "Does not meet the credit policy ..." to "Fully Paid" and "Charged Off"

In [6]:
print(df.loan_status.unique())

for idx, _ in df.iterrows():
    if df.loc[idx, 'loan_status'] == "Does not meet the credit policy. Status:Fully Paid":
        df.loc[idx, 'loan_status'] = "Fully Paid"
        df.loc[idx, 'meet_credit_policy'] = False
    elif df.loc[idx, 'loan_status'] == "Does not meet the credit policy. Status:Charged Off":
        df.loc[idx, 'loan_status'] = "Charged Off"
        df.loc[idx, 'meet_credit_policy'] = False
    else:
        df.loc[idx, 'meet_credit_policy'] = True

print(f'{df.query("meet_credit_policy == False").meet_credit_policy.count()} entries which does not meet the credit policy')

['Fully Paid' 'Charged Off' 'Current' 'In Grace Period'
 'Late (31-120 days)' 'Late (16-30 days)' 'Default'
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']
2749 entries which does not meet the credit policy

Set loan_status in order

In [7]:
print(df.loan_status.unique())
'''
df.term.replace("Fully Paid", 0, inplace=True)
df.term.replace("Late (16-30 days)", 1, inplace=True)
df.term.replace("Late (31-120 days)", 2, inplace=True)
df.term.replace("In Grace Period )", 3, inplace=True)
df.term.replace("Charged Off", 4, inplace=True)
df.term.replace("Current", 5, inplace=True)
df.term.replace("Default", 6, inplace=True)'''

['Fully Paid' 'Charged Off' 'Current' 'In Grace Period'
 'Late (31-120 days)' 'Late (16-30 days)' 'Default']

'\ndf.term.replace("Fully Paid", 0, inplace=True)\ndf.term.replace("Late (16-30 days)", 1, inplace=True)\ndf.term.replace("Late (31-120 days)", 2, inplace=True)\ndf.term.replace("In Grace Period )", 3, inplace=True)\ndf.term.replace("Charged Off", 4, inplace=True)\ndf.term.replace("Current", 5, inplace=True)\ndf.term.replace("Default", 6, inplace=True)'

Dtype for column ID need to be changed from object to int

In [8]:
# Some of the IDs are saved as string
print(df.id.apply(type).value_counts())
n=0
for idx, _ in df.iterrows():
    if type(df.loc[idx, 'id']) == str:
        print(df.loc[idx, 'id'])
        n+=1
    # show the first 25 entries for id that are from type string
    if n >= 25:
        break
        
# Change str to integer
df['id'] = df['id'].astype("int64")

df.id.apply(type).value_counts().head()

<class 'int'>    32768
<class 'str'>     9767
Name: id, dtype: int64
478965
476505
478518
478950
477479
477018
421822
478934
478589
477841
477843
478556
477572
478836
478830
478818
478050
478788
475049
478769
399980
477305
478749
478753
475860

<class 'int'>    42535
Name: id, dtype: int64

Column term contains either the values " 36 months" or " 60 months".

Transform them to either 0 (36 months) and 1 (60 months)

In [9]:
print(df.term.unique())
df.term.replace(" 36 months", 0, inplace=True)
df.term.replace(" 60 months", 1, inplace=True)
print(df.term.unique())
df.term.apply(type).value_counts()

[' 36 months' ' 60 months']
[0 1]

<class 'int'>    42535
Name: term, dtype: int64

The column int_rate contains string ending with %.
Cutting the % and transforming them to int

In [10]:
print(df["int_rate"].head())
df['int_rate'] = df['int_rate'].str.rstrip('%')
df['int_rate'] = df['int_rate'].astype("float64")
df["int_rate"].head()

0     10.65%
1     15.27%
2     15.96%
3     13.49%
4     12.69%
Name: int_rate, dtype: object

0    10.65
1    15.27
2    15.96
3    13.49
4    12.69
Name: int_rate, dtype: float64

The column policy_code has only one characteristic and could be dropped

In [11]:
print(df.policy_code.nunique())
print(df.policy_code.unique())
df = df.drop("policy_code", 1)

1
[1.]

The column pymnt_plan has only one entry for the second characteristic and could be dropped

In [12]:
print(df.pymnt_plan.value_counts())
df = df.drop("pymnt_plan", 1)

n    42534
y        1
Name: pymnt_plan, dtype: int64

As all entries for application_type are 'INDIVIDUAL' this column does not provide any additional information.

In [13]:
print(df[['application_type', 'grade', 'sub_grade', 'delinq_2yrs', 'delinq_amnt']].nunique())

print(df.application_type.unique())
df = df.drop('application_type', 1)

application_type     1
grade                7
sub_grade           35
delinq_2yrs         12
delinq_amnt          3
dtype: int64
['INDIVIDUAL']

Missing values will be replaced by column mode.

In [14]:
df[df.delinq_2yrs.isnull()].head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,meet_credit_policy
42450,79967,79912.0,5000.0,5000.0,3025.0,0,7.43,155.38,A,A2,NaN,< 1 year,NONE,NaN,Not Verified,Aug-2007,Fully Paid,other,Moving expenses,100xx,NY,1.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,5593.631614,3384.14,5000.0,593.63,0.0,0.0,0.0,Aug-2010,157.31,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42451,79924,79906.0,7000.0,7000.0,3450.0,0,7.75,218.55,A,A3,NaN,< 1 year,NONE,NaN,Not Verified,Aug-2007,Fully Paid,other,Education,100xx,NY,1.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,7867.655865,3877.63,7000.0,867.66,0.0,0.0,0.0,Aug-2010,220.03,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42460,71823,70473.0,4350.0,4350.0,825.0,0,8.07,136.45,A,A4,NaN,< 1 year,RENT,120000.0,Not Verified,Aug-2007,Fully Paid,other,Paying medical bill,024xx,MA,4.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,4911.992738,931.59,4350.0,561.99,0.0,0.0,0.0,Aug-2010,139.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
42473,72197,72194.0,3900.0,3900.0,2025.0,0,9.33,124.62,B,B3,NaN,< 1 year,RENT,98000.0,Not Verified,Aug-2007,Fully Paid,other,Moving to Florida,100xx,NY,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,4486.172967,2329.36,3900.0,586.17,0.0,0.0,0.0,Aug-2010,126.06,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42481,79893,79878.0,6700.0,6700.0,6700.0,0,7.75,209.18,A,A3,NaN,< 1 year,NONE,NaN,Not Verified,Jul-2007,Fully Paid,other,Moving expenses and security deposit,100xx,NY,1.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,7530.481427,7530.48,6700.0,830.48,0.0,0.0,0.0,Jul-2010,209.89,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42484,73003,70651.0,3200.0,3200.0,2000.0,0,9.96,103.20,B,B5,NaN,< 1 year,MORTGAGE,150000.0,Not Verified,Jul-2007,Fully Paid,other,New Bathroom,019xx,MA,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,3590.587415,2244.12,3200.0,390.59,0.0,0.0,0.0,Feb-2009,1733.32,Jun-2016,NaN,NaN,NaN,NaN,NaN,NaN,False
42495,72819,72816.0,7200.0,5075.0,350.0,0,10.28,164.42,C,C1,NaN,< 1 year,RENT,95000.0,Not Verified,Jul-2007,Fully Paid,other,Consolidate 2 high-interest rate loans,100xx,NY,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,5918.938762,408.20,5075.0,843.94,0.0,0.0,0.0,Jul-2010,168.44,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42510,91023,70879.0,1900.0,1900.0,900.0,0,9.64,61.00,B,B4,Scheduall,1 year,MORTGAGE,100000.0,Not Verified,Jul-2007,Fully Paid,debt_consolidation,Consolidate credit cards,333xx,FL,10.00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,1999.142676,946.97,1900.0,99.14,0.0,0.0,0.0,Feb-2008,0.00,May-2007,NaN,NaN,NaN,NaN,NaN,NaN,False
42515,85961,85923.0,1200.0,1200.0,500.0,0,9.01,38.17,B,B2,Classic Components,< 1 year,RENT,36000.0,Not Verified,Jun-2007,Fully Paid,other,College Debt Consolidation,787xx,TX,3.27,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,1373.990771,572.50,1200.0,173.99,0.0,0.0,0.0,Jul-2010,39.05,Jun-2016,NaN,NaN,NaN,NaN,NaN,NaN,False
42516,85818,85802.0,5000.0,5000.0,375.0,0,11.22,164.23,C,C4,Compensation Solutions,< 1 year,RENT,28000.0,Not Verified,Jun-2007,Fully Paid,other,Credit Card,078xx,NJ,3.51,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,f,0.0,0.0,5858.468448,439.39,5000.0,828.47,30.0,0.0,0.0,Apr-2010,149.43,Apr-2010,NaN,NaN,NaN,NaN,NaN,NaN,False

# Show overview for the columns dti, funded_amnt, funded_amnt_inv & installment

In [15]:
df[['dti', 'funded_amnt', 'funded_amnt_inv', 'installment']].describe()

                dti   funded_amnt  funded_amnt_inv   installment
count  42535.000000  42535.000000     42535.000000  42535.000000
mean      13.373043  10821.585753     10139.830603    322.623063
std        6.726315   7146.914675      7131.686446    208.927216
min        0.000000    500.000000         0.000000     15.670000
25%        8.200000   5000.000000      4950.000000    165.520000
50%       13.470000   9600.000000      8500.000000    277.690000
75%       18.680000  15000.000000     14000.000000    428.180000
max       29.990000  35000.000000     35000.000000   1305.190000

Drop initial_list_status column as no additional value is added to this dataset.

In [16]:
print(df[['home_ownership', 'initial_list_status', 'funded_amnt_inv', 'issue_d']].nunique())

df = df.drop('initial_list_status', 1)

home_ownership            5
initial_list_status       1
funded_amnt_inv        9246
issue_d                  55
dtype: int64

Replacing category names by numerical values:

In [17]:
home_ownership_cat = {'RENT': 1,
                     'MORTGAGE': 2,
                     'OWN': 3,
                     'OTHER': 4, 
                     'NONE': 5}
df.home_ownership.replace(home_ownership_cat, inplace=True)

Splitting column and save month and year seperately

In [18]:
df[['issue_d_month', 'issue_d_year']] = df.issue_d.str.split('-', expand=True)
df.head()

# Converting month names to numeric variables
issue_d_month_cat = {'Jan': 1,
                    'Feb': 2,
                    'Mar': 3,
                    'Apr': 4,
                    'May': 5,
                    'Jun': 6,
                    'Jul': 7,
                    'Aug': 8,
                    'Sep': 9,
                    'Oct': 10,
                    'Nov': 11,
                    'Dec': 12}
df.issue_d_month.replace(issue_d_month_cat, inplace=True)

# checking if data type correct
print(df.issue_d_month.dtype)
df.issue_d_year.astype(int)

int64

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
42531    2007
42532    2007
42533    2007
42534    2007
42535    2007
Name: issue_d_year, Length: 42535, dtype: int32

Columns with 29 NaNs, dropped 29 rows

In [19]:
df[['delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'delinq_amnt']].query('delinq_2yrs == "NaN"').head()

       delinq_2yrs  inq_last_6mths  open_acc  pub_rec  delinq_amnt
42450          NaN             NaN       NaN      NaN          NaN
42451          NaN             NaN       NaN      NaN          NaN
42460          NaN             NaN       NaN      NaN          NaN
42473          NaN             NaN       NaN      NaN          NaN
42481          NaN             NaN       NaN      NaN          NaN

To avoid issues by dropping rows, index will be reseted first.

In [20]:
df.reset_index(drop=True, inplace=True)

In [21]:
df[['delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'delinq_amnt']].query('delinq_2yrs == "NAN"').index

Int64Index([42449, 42450, 42459, 42472, 42480, 42483, 42494, 42509, 42514,
            42515, 42516, 42517, 42518, 42519, 42520, 42521, 42522, 42523,
            42524, 42525, 42526, 42527, 42528, 42529, 42530, 42531, 42532,
            42533, 42534],
           dtype='int64')

In [22]:
df.drop(df.index[[42449, 42450, 42459, 42472, 42480, 42483, 42494, 42509, 42514, 42515, 42516, 42517, 42518, 42519, 42520, 42521, 42522, 42523, 42524, 42525, 42526, 42527, 42528, 42529, 42530, 42531, 42532, 42533, 42534]], inplace=True)
df[['delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'delinq_amnt']].query('delinq_2yrs == "NAN"')

Empty DataFrame
Columns: [delinq_2yrs, inq_last_6mths, open_acc, pub_rec, delinq_amnt]
Index: []

Column pub_rec

Check entries of columns pub_rec and total_acc to int

In [23]:
print('pub_rec')
print(df.pub_rec.unique())
df['pub_rec'] = df['pub_rec'].astype("int64")

print('total_acc')
print(df.total_acc.unique())
df['total_acc'] = df['total_acc'].astype("int64")

pub_rec
[0. 1. 2. 3. 4. 5.]
total_acc
[ 9.  4. 10. 37. 38. 12. 11. 13.  3. 23. 34. 29. 28. 42. 14. 22. 21. 17.
  7. 31. 44. 26. 16.  6. 18. 27. 24. 25. 40. 35.  8. 20. 15. 19. 36. 51.
 32. 30. 33. 46.  5. 61. 56. 50. 41. 39. 79. 62. 43. 47. 53. 45. 60. 55.
 52. 58. 54. 57. 49. 63. 48. 59. 77. 87. 75. 72. 64. 67. 78. 76. 74. 66.
 81. 90. 80. 71. 69. 73. 70. 68. 65.  2.  1.]

The columns chargeoff_within_12_mths and collections_12_mths_ex_med has only one characteristic and could be dropped.

In [24]:
chargeoff_ = df.query('chargeoff_within_12_mths == "NAN"').index
collections = df.query('collections_12_mths_ex_med == "NAN"').index

for idx, entry in enumerate(chargeoff_):
    if entry != collections[idx]:
        print(entry)
        
print(df.chargeoff_within_12_mths.dtype)
print(df.collections_12_mths_ex_med.dtype)

print(df[['chargeoff_within_12_mths', 'collections_12_mths_ex_med']].nunique())
print(df.chargeoff_within_12_mths.unique())
print(df.collections_12_mths_ex_med.unique())

df = df.drop(['chargeoff_within_12_mths', 'collections_12_mths_ex_med'], 1)

float64
float64
chargeoff_within_12_mths      1
collections_12_mths_ex_med    1
dtype: int64
[ 0. nan]
[ 0. nan]

Splitting column and save month and year seperately

In [25]:
df[['earliest_cr_month', 'earliest_cr_year']] = df.earliest_cr_line.str.split('-', expand=True)
df.head()

# Converting month names to numeric variables
earliest_cr_cat = {'Jan': 1,
                    'Feb': 2,
                    'Mar': 3,
                    'Apr': 4,
                    'May': 5,
                    'Jun': 6,
                    'Jul': 7,
                    'Aug': 8,
                    'Sep': 9,
                    'Oct': 10,
                    'Nov': 11,
                    'Dec': 12}
df.earliest_cr_month.replace(earliest_cr_cat, inplace=True)

# checking if data type correct
print(df.earliest_cr_month.dtype)
df.earliest_cr_year.astype(int)

int64

0        1985
1        1999
2        2001
3        1996
4        1996
         ...
42508    2006
42510    1999
42511    1984
42512    1996
42513    2004
Name: earliest_cr_year, Length: 42506, dtype: int32

1112 NaNs for variable emp_length, decided to not change the value.

In [26]:
print(df.emp_length.value_counts())
print(f'{df.emp_length.isna().sum()} NaNs')

10+ years    9366
< 1 year     5044
2 years      4742
3 years      4362
4 years      3649
1 year       3592
5 years      3458
6 years      2374
7 years      1875
8 years      1592
9 years      1340
Name: emp_length, dtype: int64
1112 NaNs

2614 NaNs for variable emp_title, decided to not change the value.

In [27]:
print(df.emp_title.value_counts())
print(f'{df.emp_title.isna().sum()} NaNs')

US Army                                   139
Bank of America                           115
IBM                                        72
AT&T                                       61
Kaiser Permanente                          61
                                         ...
McDanel Advanced Ceramics Technologies      1
TradeKing                                   1
Data Mail                                   1
Hospira Inc.                                1
Optima Communications Systems               1
Name: emp_title, Length: 30644, dtype: int64
2614 NaNs

Splitting column and save month and year seperately

In [28]:
print(f'{df.last_credit_pull_d.isnull().sum()} NaNs')
df.query('last_credit_pull_d == "NaN"')

3 NaNs

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, acc_now_delinq, delinq_amnt, pub_rec_bankruptcies, tax_liens, meet_credit_policy, issue_d_month, issue_d_year, earliest_cr_month, earliest_cr_year]
Index: []

Rows with missing values will be dropped

In [30]:
df.drop([26094, 39545, 42482], inplace=True)

Categories changed to numeric values.

In [31]:
df[['last_credit_pull_d_month', 'last_credit_pull_d_year']] = df.last_credit_pull_d.str.split('-', expand=True)
df.head()

# Converting month names to numeric variables
last_credit_pull_d_cat = {'Jan': 1,
                    'Feb': 2,
                    'Mar': 3,
                    'Apr': 4,
                    'May': 5,
                    'Jun': 6,
                    'Jul': 7,
                    'Aug': 8,
                    'Sep': 9,
                    'Oct': 10,
                    'Nov': 11,
                    'Dec': 12}
df.last_credit_pull_d_month.replace(last_credit_pull_d_cat, inplace=True)

# checking if data type correct
print(df.last_credit_pull_d_month.dtype)
df.last_credit_pull_d_year.astype(int)
df.last_credit_pull_d_year.value_counts().head()

int64

2016    16685
2014     6344
2015     5617
2013     5374
2012     4311
Name: last_credit_pull_d_year, dtype: int64

NaNs will be replaced by NaN-NaN so that after a split NaN will be in both new variables

In [33]:
print(df.query('last_pymnt_d.isnull() == True'))
print(df.last_pymnt_d.value_counts())
df.last_pymnt_d.fillna("NaN-NaN")

df[['last_pymnt_d_month', 'last_pymnt_d_year']] = df.last_pymnt_d.str.split('-', expand=True)

# Converting month names to numeric variables
last_pymnt_d_cat = {'Jan': 1,
                    'Feb': 2,
                    'Mar': 3,
                    'Apr': 4,
                    'May': 5,
                    'Jun': 6,
                    'Jul': 7,
                    'Aug': 8,
                    'Sep': 9,
                    'Oct': 10,
                    'Nov': 11,
                    'Dec': 12
                   }
df.last_pymnt_d_month.replace(last_pymnt_d_cat, inplace=True)
df.last_pymnt_d.replace("NaN-NaN", "NaN")

print(f'{df.last_pymnt_d_month.isnull().sum()} NaNs')
df[['last_pymnt_d_month', 'last_pymnt_d_year']]

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
print(df.pub_rec_bankruptcies.value_counts())
print(f'{df.pub_rec_bankruptcies.isnull().sum()} NaNs')

NaN values will be filled with = 0.0 and saved as separate column.

In [ ]:
df["pub_rec_bankruptcies_nan"] = df.pub_rec_bankruptcies.fillna(0.0)
print(f'{df.pub_rec_bankruptcies_nan.isnull().sum()} NaNs')

In [ ]:
df.revol_util.value_counts().head()

In [ ]:
df['revol_util'] = df['revol_util'].str.rstrip('%')
df['revol_util'] = df['revol_util'].astype("float64")
df["revol_util"].head()

In [ ]:
df["revol_util"].describe()

NaN values to be replaced by median.

In [ ]:
df.revol_util.fillna(49.1, inplace=True)
print(f'{df.revol_util.isnull().sum()} NaNs')

tax_liens to be dropped as no additional info.

In [ ]:
print(df.tax_liens.value_counts())
df = df.drop('tax_liens', 1)

In [ ]:
print(f'{df.title.isnull().sum()} NaNs')

Cross Checks   (needs to be done)
- total_pymnt <> "total loan"
- int_rate * "total loan" <> total_rec_int
- total_rec_prncp <> "total loan"
- out_prncp_inv <> out_prncp

identified good predictor?
- total_rec_prncp  entweder noch zu zahlende Summe oder zero principal es werden nur die Zinsen bedient

Outliers:
- revol_bal max values seem to be an outlier

Stronly correlated variables:
- addr_state und zip_code

For the following columns no changes need to be done:
- acc_now_delinq
- annual_inc
- addr_state
- collection_recovery_fee
- last_pymnt_amnt
- total_pymnt
- total_pymnt_inv
- total_rec_int
- total_rec_late_fee
- total_rec_prncp
- verification_status
- purpose
- recoveries
- revol_bal
- loan_amnt
- member_id
- out_prncp
- out_prncp_inv
- inq_last_6mths
- open_acc
- emp_title
- emp_length
- title

Dropped columns:
- chargeoff_within_12_mths
- collections_12_mths_ex_med
- policy_code
- application_type
- initial_list_status
- tax_liens
- pymnt_plan

New features:
- issue_d_month
- issue_d_year
- earliest_cr_month
- earliest_cr_year
- last_credit_pull_d_month
- last_credit_pull_d_year
- last_pymnt_d_month
- last_pymnt_d_year
- pub_rec_bankruptcies_nan

Writing the modified data dictonary to a file

In [ ]:
for idx, entry in enumerate(columns_df.LoanStatNew):
    if entry in df.columns:
        columns_df.loc[idx, 'new Dtype'] = df[entry].dtype
        columns_df.loc[idx, 'new_Amount_NaN'] = df[entry].isna().sum()
        
df_description = columns_df.query("contain == True")
df_description.drop(['contain'], axis=1, inplace=True)
df_description.to_csv('data/column_descriptions.csv')

Saving the modified DataFrame to a file for further EDA

In [ ]:
df.to_csv('data/cleaned_dataset.csv')